<form class="form-group" action="/brands" method="post">
  <h4>Add a new brand below</h4>
  <label for="brand_name">What is the brand name?</label>
  <input type="text" name="brand_name" value="" id='brand_name'>

  <label for="brand_logo">Brand Logo</label>
  <input type="text" name="brand_logo" value="" id='brand_logo'>
  <button type="submit" name="button" class='btn btn-info'>Add new brand</button>
</form>
