<h2>Welcome to <%= @store.name() %> page</h2>


<form class="form-group" action="/store/<%= @store.id()%>" method="post">
  <input type="hidden" name="store_id" value="<%=@store.id()%>">
  <label for="brand_name">What is the brand name?</label>
  <input type="text" name="brand_name" id='brand_name'>
  <button type="submit" name="button">Add new brand</button>
</form>


<h3>All saved shoe brands</h3>

  <% if @store.brands.any?() %>
    <ul>
      <% @store.brands.each() do |brand| %>
        <% if (brand != nil) %>
          <li><%= brand.name() %></li>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p>There are no brands yet!</p>
  <% end %>


  <a href="/">Return Home</a>
